/*This is my custom color gradient*/

:root {
    --gradient-color-start: #ffffff;
    --gradient-color-mid1: #3533cd;
    --gradient-color-mid2: #000000;
    --gradient-color-end: #0b0b0b;
}

.gradient-transition {
    background-image: linear-gradient(to right, var(--gradient-color-start),
    var(--gradient-color-mid1), var(--gradient-color-mid2), var(--gradient-color-end));
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gradient-transition:hover {
    background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-mid1), var(--gradient-color-mid2), var(--gradient-color-end));
}

/*This is my body style*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*This is my navigation bar*/

.navbar {
    background-color: #ffffff;
    color: #002366;
    border-bottom: 2px solid #002366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 200px;
}

.left-links,
.right-links {
    display: flex;
    align-items: center;
}

.left-links {
    margin-right: 20px;
}

.link-buttons {
    font-size: larger;
    font-weight: bold;
}

.user-buttons {
    display: flex;
}

.link {
    color: #002366;
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 10px;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #002366;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link:hover::before {
    transform: scaleX(1);
}

.button {
    background-image: linear-gradient(to right, var(--gradient-color-mid1),
    var(--gradient-color-mid2));
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.button:hover {
    background-image: linear-gradient(to right, var(--gradient-color-mid1),
    var(--gradient-color-mid2));
}

.user-greeting {
    margin-right: 10px;
    font-style: italic;
    font-size: large;
}

/*This is my footer*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-image: linear-gradient(to bottom, var(--gradient-color-start) 5%, var(--gradient-color-mid1) 35%,
    var(--gradient-color-mid2) 75%, var(--gradient-color-end));
    text-align: center;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    border-top: 10px solid black;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: whitesmoke;
    font-weight: bold;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 5px;

}

/*This is my 'About' page css styling*/

.about-container {
    padding: 20px;
    text-align: center;
}

.about-container h1,
.about-container h2 {
    display: inline-block;
    background-image: linear-gradient(to right, var(--gradient-color-mid1), var(--gradient-color-mid2));
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 40px;
    border: solid white;
}

.about-container ul,
.about-container p {
    font-size: larger;
    color: white;
}


.about-container p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.about-container ul {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 20px;
    text-align: center;
}

.about-container a {
    color: #007bff;
    text-decoration: none;
}

.about-container a:hover {
    text-decoration: underline;
}

/*Those are mine custom containers and wrappers*/

.container {
    padding: 30px;
    overflow: hidden;
}


.form-wrapper {
    background-image: linear-gradient(to right, var(--gradient-color-mid1), var(--gradient-color-mid2));
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 500px;
    color: white;
    text-align: center;
    border: solid white;
}

.form-wrapper p {
    color: white;
}

.form-wrapper h1 {
    padding: 15px;
    color: white;
}

.form-wrapper h2 {
    color: white;
}

.form-wrapper h4 {
    color: white;
}

.form-wrapper h5 {
    color: white;
}

.form-wrapper span {
    color: slategray;
}

.form-wrapper strong {
    margin-bottom: 10px;
}

.success-message {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.btn.btn-primary a {
    text-decoration: none;
    color: inherit;
}

.user-profile {
    color: white;
}

.image-wrap {
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*This is my register form css*/

.profile-type-group .profile-type-btn {
    padding: 10px 20px;
}

.profile-container {
    display: inline-block;
    width: 100px;
}

.form-container {
    display: inline-block;
}

/*This is my event`s carousel*/

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.base-container form {
    text-align: left;
}

.base-container label {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.base-container span {
    color: slategray;
    font-size: larger;
    font-weight: bold;
    padding: 1%;
}

.base-container button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.base-container button:hover {
    background-color: #000000;
    color: #ffffff;
}

.base-container p {
    text-align: center;
}

/*This is my search bar*/

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

#search-bar {
    padding-right: 40px;
}

#search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}