.inner-navbar {
    position: relative;
    border-bottom: 3px solid white;
}

.inner-navbar .link::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.inner-navbar .link:hover::before {
    transform: scaleX(1);
}

.inner-navbar a {
    color: white;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

/* Dropdown course categories menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .link {
    background-color: transparent;
}

.dropdown-content {
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 6px 10px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.subcategory-dropdown {
    position: relative;
}

.subcategory-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    min-width: 160px;
    z-index: 1;
}

.subcategory-dropdown:hover .subcategory-content {
    display: block;
}

.filter-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.sort-options {
    margin-top: 20px;
}

.sort-options form {
    display: flex;
    align-items: center;
}

.sort-options select,
.sort-options button {
    margin-left: 10px;
}

.courses-container {
    padding: 20px;
}

.course-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    color: white;
}

.course-item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 20px;
}

.course-item img {
    width: 300px;
    height: 250px;
    margin-right: 20px;
}

.course-details {
    flex-grow: 1;
    margin-bottom: 10px;
}

.price {
    margin-top: auto;
    text-align: right;
}

.action-buttons {
    flex-basis: 100%;
    text-align: center;
}