{% extends 'base/base.html' %}
{% block content %}

    <div class="about-container">
        <h1>About Us</h1>
        <p>Welcome to EventyGram, your go-to platform for discovering and promoting a wide range of events and
            activities.
            Whether you're looking for sports events, courses, cultural gatherings, or business expos, EventyGram
            has
            something for everyone.</p>

        <h2>Our Mission</h2>
        <p>Our mission at EventyGram is to connect people with events that inspire, educate, and entertain. We
            strive to
            provide a comprehensive platform where event organizers can reach their target audience, and users can
            easily
            discover and participate in events that match their interests and preferences.</p>

        <h2>Key Features</h2>
        <ul>
            <li>Event discovery and filtering</li>
            <li>Easy event registration and ticket purchase</li>
            <li>Event creation and management tools for organizers</li>
            <li>Personalized recommendations</li>
        </ul>

        <h2>Target Audience</h2>
        <p>EventyGram caters to a wide range of users, including individuals seeking new experiences, businesses
            looking to
            promote their products or services, event organizers planning community gatherings, and educational
            institutions
            hosting workshops and seminars. Our platform welcomes users from all walks of life and interests.</p>

        <h2>Our Team</h2>
        <p>Meet the passionate team behind EventyGram! Our team consists of experienced developers, designers, and
            marketers
            dedicated to creating an exceptional event platform. With a diverse range of skills and backgrounds, we
            work
            collaboratively to ensure that EventyGram meets the needs of both users and event organizers.</p>

        <h2>Contact Us</h2>
        <p>Have questions or feedback? We'd love to hear from you! Feel free to reach out to us at <a
                href="mailto:info@eventygram.com">info@eventygram.com</a> or connect with us on social media.</p>
    </div>

{% endblock %}