{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Contact Us</h1>
            <form style="display: inline-block" method="post" action="{% url 'contacts' %}">
                {% csrf_token %}

                <label>Username:</label><br>
                {{ form.username }} <br>
                <label>Email:</label> <br>
                {{ form.email }} <br>
                <label>Subject:</label><br>
                {{ form.subject }}<br>
                <label>Message:</label><br>
                {{ form.message }} <br>
                {{ form.errors }}

                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}

