{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>My Courses!</h1>
        </div>
    </div>


    {% if user.is_authenticated %}
        <div style="text-align: center; padding: 20px">
            <a class="btn btn-lg btn-primary" href="{% url 'course_create' %}">Create Course</a>
        </div>
    {% endif %}

    <div class="container" style="text-align: center; color: #ffffff">
        {% for course in courses %}
            {% if course.image %}
                <img src="{{ course.image.url }}" alt="Course Image"
                     style="border-radius: 5%; width: 500px">
            {% else %}
                <img src="{% static 'media/base_imgs/no_image.jpg' %}" alt="No Image"
                     style="width: 500px; height: 250px; border-radius: 5%">
            {% endif %}
            <br><br>
            <p><strong>{{ course.title }}</strong></p>
            <p><strong>{{ course.topic }}</strong></p>
            <p><strong>{{ course.study_method }}</strong></p>

            <div style="text-align: center; padding: 20px">
                <a class="btn btn-lg btn-primary" href="{% url 'course_details' course.id %}">Details</a>
            </div>

            <hr><br>

        {% endfor %}
    </div>

{% endblock %}