{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>My Events!</h1>
        </div>
    </div>


    {% if user.is_authenticated %}
        <div style="text-align: center; padding: 20px">
            <a class="btn btn-lg btn-primary" href="{% url 'event_create' %}">Create Event</a>
        </div>
    {% endif %}

    <div class="container" style="text-align: center; color: #ffffff">
        {% for event in events %}
            {% if event.image %}
                <div class="image-wrap">
                    <img src="{{ event.image.url }}" alt="Event Image">
                </div>
            {% else %}
                <p class="grey-text">No event image available.</p>
            {% endif %}
            <br><br>
            <p><strong>Title: {{ event.title }}</strong></p>
            <p><strong>Location: {{ event.location }}</strong></p>
            <p><strong>Price: {{ event.get_price_display }}</strong></p>
            <p><strong>Status: {{ event.status }}</strong></p>
            <p><strong>Participants: {{ event.participants.count }}</strong></p>
            <p><strong>Type: {{ event.type }}</strong></p>
            <p><strong>Start Time: {{ event.start_time }}</strong></p>
            <p><strong>End Time: {{ event.end_time }}</strong></p>

            {% if event.tickets_sales %}
                <p><strong>Available Tickets: {{ event.available_tickets }}</strong></p>
            {% endif %}

            <p><strong>Description: {{ event.description }}</strong></p>

            <div style="text-align: center; padding: 20px">
                <a class="btn btn-lg btn-primary" href="{% url 'event_details' event.id %}">Details</a>
            </div>

            <hr><br>

        {% endfor %}
    </div>

{% endblock %}