{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>My Events!</h1>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div style="text-align: center; padding: 20px">
            <a class="btn btn-lg btn-primary" href="{% url 'event_create' %}">Create Event</a>
        </div>
    {% endif %}

    <div class="container" style="text-align: center; color: #ffffff">
        {% for event in events %}
            {% if event.image %}
                <img src="{{ event.image.url }}" alt="Event Image"
                     style="height: 250px; width: 350px; border-radius: 5%">
            {% else %}
                <p class="grey-text">No event image available.</p>
            {% endif %}
            <br><br>
            <p><strong>{{ event.title }}</strong></p>
            <p><strong>{{ event.location }}</strong></p>
            <p><strong>{{ event.status }}</strong></p>
            <p><strong>{{ event.description }}</strong></p>

            <div style="text-align: center; padding: 20px">
                <a class="btn btn-lg btn-primary" href="{% url 'event_details' event.id %}">Details</a>
            </div>

            <hr><br>

        {% endfor %}
    </div>

{% endblock %}