{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>PROFILE REGISTRATION</h1>
            <br>
            <form style="display: inline-block" method="post" class="registration-form">
                {% csrf_token %}
                <div class="profile-type-group" data-toggle="buttons">
                    <label class="profile-type-btn btn btn-primary" style="border-radius: 50%; border: solid white">
                        <input type="radio" name="profile_type" id="user-radio" value="User"> User
                    </label>
                    <label class="profile-type-btn btn btn-primary" style="border-radius: 50%; border: solid white">
                        <input type="radio" name="profile_type" id="company-radio" value="Company"> Company
                    </label>
                    <label class="profile-type-btn btn btn-primary" style="border-radius: 50%; border: solid white">
                        <input type="radio" name="profile_type" id="organization-radio" value="Organization">
                        Organization
                    </label>
                </div>

                <p>
                    <label>{{ form.username.label }}:</label>
                    {{ form.username }}
                    <span>{{ form.username.errors }}</span>
                </p>

                <p>
                    <label>{{ form.password1.label }}:</label>
                    {{ form.password1 }}
                    <span>{{ form.password1.errors }}</span>
                </p>

                <p>
                    <label>{{ form.password2.label }}:</label>
                    {{ form.password2 }}
                    <span>{{ form.password2.errors }}</span>
                </p>

                <p>
                    <label>{{ form.email.label }}:</label>
                    {{ form.email }}
                    <span>{{ form.email.errors }}</span>
                </p>

                <p>
                    <label>* All fields are required *</label>
                </p>

                <button type="submit" class="btn btn-primary" style="margin: 0 auto; display: block;">Register
                </button>
                <br><br>
            </form>
        </div>
    </div>

{% endblock %}
