{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Update {{ profile.profile_type }} Details</h1><br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="profile-container">
                    <strong>Profile:</strong>
                </div>
                <div class="form-container">
                    {{ form.is_private }}
                </div>
                <p></p>

                <p><strong>Email:</strong></p>
                <p>{{ form.email }}</p>

                <p><strong>Phone Number:</strong></p>
                <p>{{ form.phone_number }}</p>

                <p><strong>Website:</strong></p>
                <p>{{ form.website }}</p>

                {% if profile.profile_type == 'User' %}
                    <p><strong>First Name:</strong></p>
                    <p>{{ form.first_name }}</p>

                    <p><strong>Last Name:</strong></p>
                    <p>{{ form.last_name }}</p>

                    <p><strong>Date of birth:</strong></p>
                    <p>{{ form.date_of_birth }}</p>

                    <p><strong>Location:</strong></p>
                    <p>{{ form.location }}</p>

                    <p><strong>Bio:</strong></p>
                    <p>{{ form.bio }}</p>

                {% elif profile.profile_type == 'Company' %}
                    <p><strong>Industry:</strong></p>
                    <p>{{ form.industry }}</p>

                    <p><strong>Address:</strong></p>
                    <p>{{ form.address }}</p>

                    <p><strong>Description:</strong></p>
                    <p>{{ form.description }}</p>

                {% elif profile.profile_type == 'Organization' %}
                    <p><strong>Type:</strong></p>
                    <p>{{ form.type }}</p>

                    <p><strong>Mission:</strong></p>
                    <p>{{ form.mission }}</p>
                {% endif %}

                <p><strong>Profile Picture:</strong></p>
                <p>{{ form.profile_picture }}</p>


                <button type="submit" class="btn btn-primary custom-button">Update</button>
            </form>
        </div>
    </div>

{% endblock %}

