{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Password Changed Successful!</h1>
            <p>Username: {{ profile.username }}</p>
            <p>Email: {{ profile.email }}</p>

            <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-primary" style="margin: 0 5px;"><a
                        href="{% url 'index' %}">Home</a>
                </button>
                <button type="submit" class="btn btn-primary" style="margin: 0 5px;"><a
                        href="{% url 'profile_details' pk=user.pk %}">Profile</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}