{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Registration Successful!</h1>
            <h3>Congratulations, you have successfully registered!</h3>

            <p>Username: {{ profile.username }}</p>
            <p>Email: {{ profile.email }}</p>

            <a href="{% url 'index' %}" class="btn btn-primary"
               style="background-color: white; color: black; border-radius: 25px">Home</a>
        </div>
    </div>

{% endblock %}