{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Login</h1>
            <br>
            <form style="display: inline-block" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <label>{{ form.username.label }}</label>
                {{ form.username }}<br><br>
                <span> {{ form.username.errors }}</span>

                <label> {{ form.password.label }}</label>
                {{ form.password }}<br><br>
                <span> {{ form.password.errors }}</span>

                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary" style="margin: 0 5px;">Login</button>
                    <button type="submit" class="btn btn-primary" style="margin: 0 5px;"><a href="{% url 'register' %}">Register</a>
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}