{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Create Course</h1>
            <br>
            <form method="post" action="{% url 'course_create' %}">
                {% csrf_token %}

                <p>
                    <label><strong>{{ form.title.label }}</strong></label><br>
                    {{ form.title }}
                </p>

                <p>
                    <label><strong>{{ form.topic.label }}</strong></label><br>
                    {{ form.topic }}
                </p>

                <p>
                    <label><strong>{{ form.study_method.label }}</strong></label><br>
                    {{ form.study_method }}
                </p>

                <p>
                    <label><strong>{{ form.language.label }}</strong></label><br>
                    {{ form.language }}
                </p>

                <p>
                    <label><strong>{{ form.level.label }}</strong></label><br>
                    {{ form.level }}
                </p>

                <p>
                    <label><strong>{{ form.price.label }}</strong></label><br>
                    {{ form.price }}
                </p>

                <p>
                    <label><strong>{{ form.content.label }}</strong></label><br>
                    {{ form.content }}
                </p>

                <p>
                    <label><strong>{{ form.requirements.label }}</strong></label><br>
                    {{ form.requirements }}
                </p>

                <p>
                    <label><strong>{{ form.description.label }}</strong></label><br>
                    {{ form.description }}
                </p>

                <p>
                    <label><strong>{{ form.image.label }}</strong></label><br>
                    {{ form.image }}
                </p>

                <div class="error-container">
                    <span>{{ form.errors }}</span>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-lg btn-primary">Create Course</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}