{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Create Course</h1>
            <br>
            <form method="post" action="{% url 'course_create' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label>{{ form.title.label }}</label>
                    {{ form.title }} <br><br>
                </div>

                <div class="form-group">
                    <label>{{ form.type.label }}</label>
                    {{ form.type }} <br><br>
                </div>

                <div class="form-group">
                    <label>{{ form.location.label }}</label>
                    {{ form.location }} <br><br>
                </div>

                <div class="form-group">
                    <label>{{ form.price.label }}</label>
                    {{ form.price }} <br><br>
                </div>

                <label>{{ form.description.label }}</label><br>
                <div class="form-group">
                    {{ form.description }} <br><br>
                </div>

                <div class="error-container">
                    <span>{{ form.errors }}</span>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-lg btn-primary">Create Course</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}