{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>COURSE DETAILS</h1>
            <br>
            {% if course.image %}
                <div class="image-wrap">
                    <img src="{{ course.image.url }}" alt="Course Picture">
                </div>
            {% else %}
                <span class="grey-text"> No course image available.</span>
            {% endif %}
            <br><br><br>

            <p><strong>Title:</strong> <span>{{ course.title }}</span></p>

            <p><strong>Topic:</strong> <span>{{ course.topic }}</span></p>

            <p><strong>Study method:</strong> <span>{{ course.study_method }}</span></p>

            <p><strong>Language:</strong> <span>{{ course.language }}</span></p>

            <p><strong>Level:</strong> <span>{{ course.level }}</span></p>

            <p><strong>Price:</strong> <span>{{ course.price }}</span></p>

            <p><strong>Requirements:</strong> <span>{{ course.requirements }}</span></p>

            <p><strong>Content:</strong> <span>{{ course.content }}</span></p>

            <p><strong>Description:</strong> <span>{{ course.description }}</span></p>

            <p><strong>Instructors:</strong>
                {% for instructor in course.instructors.all %}
                    <a href="{% url 'profile_details' pk=instructor.pk %}">{{ instructor.username }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            {% if user.pk == course.creator.pk %}
                <div style="display: flex; justify-content: center;">
                    <button class="btn btn-primary" style="margin: 0 auto; display: block;">
                        <a href="{% url 'course_update' pk=course.pk %}">Update Course Details</a>
                    </button>

                    <button class="btn btn-primary" style="margin: 0 auto; display: block;">
                        <a href="{% url 'course_delete' pk=course.pk %}">Delete Course</a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
