{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <form method="post">
                {% csrf_token %}
                <h1>EVENT: {{ event.title }}</h1>

                <label>Number of tickets:</label>
                {{ form.num_tickets }}<br><br>

                <button class="btn btn-primary" style="margin: 0 auto; display: block;" type="submit">Generate Tickets</button>
            </form>
        </div>
    </div>

{% endblock %}