{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>EVENT DETAILS</h1>
            <br>
            {% if event.image %}
                <div class="image-wrap">
                    <img src="{{ event.image.url }}" alt="Event Picture">
                </div>
            {% else %}
                <span class="grey-text"> No event image available.</span>
            {% endif %}
            <br><br><br>

            <p><strong>Title:</strong> <span>{{ event.title }}</span></p>

            <p><strong>Location:</strong> <span>{{ event.location }}</span></p>

            <p><strong>Type:</strong> <span>{{ event.type }}</span></p>

            <p><strong>Price:</strong> <span>{{ event.get_price_display }}</span></p>

            <p><strong>Status:</strong> <span>{{ event.status }}</span></p>

            <p><strong>Likes:</strong> <span>{{ event.likes }}</span></p>

            <p><strong>Available tickets:</strong> <span>{{ event.tickets_count }}</span></p>

            <p><strong>Participants:</strong> <span>{{ event.participants.count }}</span></p>

            <p><strong>Start time:</strong> <span>{{ event.start_time }}</span></p>

            <p><strong>End time:</strong> <span>{{ event.end_time }}</span></p>

            <p><strong>Description:</strong> <span>{{ event.description }}</span></p>

            {% if user.pk == event.creator.pk %}
                <div style="display: flex; justify-content: center;">
                    <button class="btn btn-primary" style="margin: 0 auto; display: block;">
                        <a href="{% url 'event_update' pk=event.pk %}">Update Event Details</a>
                    </button>

                    <button class="btn btn-primary" style="margin: 0 auto; display: block;">
                        <a href="{% url 'ticket_create' event.id %}">Create Tickets</a>
                    </button>

                    <button class="btn btn-primary" style="margin: 0 auto; display: block;">
                        <a href="{% url 'event_delete' pk=event.pk %}">Delete Event</a>
                    </button>
                </div>
            {% else %}
                <div style="display: flex; justify-content: center;">
                    {% if user.is_authenticated %}
                        {% if event.tickets_count > 0 %}
                            <button class="btn btn-primary" style="margin: 0 auto; display: block;">
                                <a href="{% url 'buy_tickets' event_id=event.pk %}">Buy Ticket</a>
                            </button>
                        {% endif %}


                        {% if not user_participated and user_has_ticket %}
                            <form action="{% url 'participate_event' pk=event.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="margin: 0 5px;">Participate</button>
                            </form>
                        {% elif user_participated %}
                            <form action="{% url 'withdraw_event_participation' pk=event.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="margin: 0 5px;">Withdraw Participation</button>
                            </form>
                        {% endif %}

                        <button class="btn btn-primary" style="margin: 0 auto; display: block;">
                            <a href="{% url 'leave_comment' pk=event.pk %}">Comment</a>
                        </button>
                        {% if not user_liked_event %}
                            <form action="{% url 'like_event' pk=event.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="margin: 0 5px;">Like</button>
                            </form>
                        {% else %}
                            <form action="{% url 'unlike_event' pk=event.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="margin: 0 5px;">Unlike</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}

        </div>


        <div class="form-wrapper" style="margin-top: 1%">
            <h1>Comments</h1>
            {% for comment in comments %}
                <p><strong>{{ comment.profile.username }}:</strong>
                    <span>{{ comment.content }}</span> * {{ comment.date_posted }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}