{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Create Event</h1>
            <br>
            <form method="post" action="{% url 'event_create' %}">
                {% csrf_token %}

                <p>
                    <label><strong>{{ form.title.label }}</strong></label><br>
                    {{ form.title }}
                </p>

                <p>
                    <label><strong>{{ form.type.label }}</strong></label><br>
                    {{ form.type }}
                </p>

                <p>
                    <label><strong>{{ form.region.label }}</strong></label><br>
                    {{ form.region }}
                </p>

                <p>
                    <label><strong>{{ form.location.label }}</strong></label><br>
                    {{ form.location }}
                </p>

                <p>
                    <label><strong>{{ form.start_time.label }}</strong></label><br>
                    {{ form.start_time }}
                </p>

                <p>
                    <label><strong>{{ form.end_time.label }}</strong></label><br>
                    {{ form.end_time }}
                </p>

                <p>
                    <label><strong>{{ form.price.label }}</strong></label><br>
                    {{ form.price }}
                </p>

                <p>
                    <label><strong>{{ form.description.label }}</strong></label><br>
                    {{ form.description }}
                </p>

                <p>
                    <label><strong>{{ form.image.label }}</strong></label><br>
                    {{ form.image }}
                </p>

                <div class="error-container">
                    <span>{{ form.errors }}</span>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-lg btn-primary">Create Event</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}