{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h1>Update Event Details</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <p><strong>{{ form.title.label }}</strong></p>
                <p>{{ form.title }}</p>

                <p><strong>{{ form.description.label }}</strong></p>
                <p>{{ form.description }}</p>

                <p><strong>{{ form.region.label }}</strong></p>
                <p>{{ form.region }}</p>

                <p><strong>{{ form.location.label }}</strong></p>
                <p>{{ form.location }}</p>

                <p><strong>{{ form.start_time.label }}</strong></p>
                <p>{{ form.start_time }}</p>

                <p><strong>{{ form.end_time.label }}</strong></p>
                <p>{{ form.end_time }}</p>

                <p><strong>{{ form.type.label }}</strong></p>
                <p>{{ form.type }}</p>

                <p><strong>{{ form.price.label }}</strong></p>
                <p>{{ form.price }}</p>

                <p><strong>{{ form.status.label }}</strong></p>
                <p>{{ form.status }}</p>

                <p><strong>{{ form.image.label }}</strong></p>
                <p>{{ form.image }}</p>

                <button type="submit" class="btn btn-primary custom-button">Update</button>
            </form>
        </div>
    </div>

{% endblock %}
