{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'style/css/events_catalogue.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-3 filter-container">
                <form method="GET" action="">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
                <div class="sort-options">
                    <label for="sort_by">Sort by:</label>
                    <form method="GET" action="">
                        <select id="sort_by" name="sort_by">
                            <option value="likes">Likes</option>
                            <option value="price">Price</option>
                        </select>
                        {% for key, value in request.GET.items %}
                            {% if key != 'sort_by' %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Sort</button>
                    </form>
                </div>
            </div>
            {% if events %}
                <div class="col-md-9 events-container">
                    <div class="events-grid">
                        {% for event in events %}
                            {% if event.status == 'Active' %}
                                {% if event.image %}
                                    <div class="event-item">
                                        <img src="{{ event.image.url }}" alt="Event Image">
                                        <p><strong>{{ event.title }}</strong></p>
                                        <div class="event-details">
                                            <p><strong>{{ event.region }}</strong></p>
                                            <p><strong>{{ event.price }} BGN</strong></p>
                                        </div>
                                        <div class="action-buttons">
                                            <a class="btn btn-primary"
                                               href="{% url 'event_details' event.id %}">Details</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
