{% extends 'base/base.html' %}
{% block content %}

    <div class="container">
        <div class="form-wrapper">
            <h2>Event registered successfully!</h2>
            <p>Thank you for contributing to the community!</p>
            <p>
                <a class="btn btn-lg btn-primary" href="{% url 'event_details' pk=event.pk %}">Event Details</a>
                <a class="btn btn-lg btn-primary" href="{% url 'index' %}">Home</a>
            </p>
        </div>
    </div>

{% endblock %}
